name: Build Linux FFmpeg

on:
  workflow_dispatch:

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install deps
        run: |
          sudo apt-get update
          sudo apt-get install -y libvpx-dev yasm nasm pkg-config

      - name: Build FFmpeg (LGPL)
        run: |
          chmod +x ./build/linux.sh
          ./build/linux.sh

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ffmpeg-linux
          path: artifacts/linux/
